# Database
DB_HOST=host.docker.internal
DB_PORT=5432
DB_NAME=site_tracker
DB_USER=localhost
DB_PASSWORD=Bl@ze389

# Django
SECRET_KEY=change-me-in-production-use-long-random-string
DEBUG=1
ALLOWED_HOSTS=*

# Frontend
VITE_API_URL=http://localhost:9000
